@model IEnumerable<ApexRestaurant.Mvc.Models.CustomerViewModel>
     @{
         ViewBag.Title = "Index"; 
         Layout = "~/Views/Shared/_Layout.cshtml"; 
      }
    <h2>
        Index
    </h2> 
    <p> 
        @Html.ActionLink("Create New", "Create") 
    </p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneRes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneMob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive) 
            </th>
            <th> </th>
        </tr>
            @foreach (var item in Model) { 
                <tr>
                    <td> 
                        @Html.DisplayFor(modelItem => item.FirstName) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneRes) 
                    </td>
                    <td> 
                        @Html.DisplayFor(modelItem => item.PhoneMob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnrollDate) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive) 
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) 
                        @Html.ActionLink("Details", "Details", new { id=item.Id }) 
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id }) 
                    </td>
                </tr>
            }
    </table>
                                                                                                                                           